@media print {

    .tm-sidebar,
    #about,
    .heading,
    .blocks,
    #ideas,
    .img-fluid,
    #contact {
        display: none;
    }

    .tm-main-content {
        width: 80%;
        margin: auto;
    }

    h2.tm-section-title {
        color: blue;
    }

    .flex-2-col {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .tm-team-description-container {
        max-width: 100%;
    }

    .tm-section-description:nth-child(2) {
        font-style: italic;
    }

    img[alt="epam-mexico"] {
        width: 80%;
    }

    div.tm-team-description-container>p {
        text-indent: 20px;
    }

    p:first-letter {
        color: #87CEFA;
        font-size: 30px;
    }

}

@media screen {
    .tm-content-box.flex-2-col:first-child {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    img[alt="epam-mexico"] {
        width: 100%;
    }

    #about ul li.box-bg:hover {
        background-color: #31b0d5;
        cursor: pointer;
    }

    #about ul li.box-bg h2:hover {
        color: white;
        font-weight: bold;
    }

    p:first-letter {
        color: #87CEFA;
        font-size: 30px;
    }

    .tm-content-box,
    .tm-sidebar,
    .blocks {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
    }

    .blocks .tm-content-box {
        box-shadow: none;
    }

    .tm-banner {
        padding: 0;
        border: 30px solid #f5f5f5;
    }

    .tm-content-box {
        position: relative;
    }

    section {
        position: relative;
    }

    section::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border-top: 30px solid #31b0d5;
        border-right: 150px solid transparent;
    }

    .tm-content-box.flex-2-col:nth-child(2)::after {
        display: none;
    }

    div.carousel-content h2.tm-section-title {
        color: gainsboro;
        letter-spacing: 5px;
    }

    h2+p {
        font-style: italic;
    }

    p {
        text-indent: 15px;
        line-height: 1.7;
    }

    .text:first-child::after,
    .text:nth-child(3)::after {
        content: "New";
        color: red;
        font-size: 10px;
        vertical-align: super;
    }

    .padding-medium ol a:visited {
        text-decoration: underline;
    }

    .padding-medium ol a:hover {
        color: #31b0d5;
        text-decoration: underline double;
    }

    .padding-medium ol a {
        color: black;
    }

    .box-work {
        padding: 10px;
    }

    .boxes.gallery-container div p {
        text-indent: initial;
        line-height: 1.6em;
        color: black;
    }

    section.blocks ul li:nth-child(even) {
        background: #f2f2f2;
    }

    .blocks .tm-content-box ul li p:first-letter {
        color: black;
    }

    .mandatory-field::after {
        content: "*";
        color: red;
        font-weight: bold;
        vertical-align: top;
    }

    .contact-form button {
        background: #ffffff;
        color: #31b0d5;
        border: 1px solid #31b0d5;
        border-radius: 0;
        padding: 20px 50px;
    }

    .contact-form {
        text-align: right;
    }

    .submit-btn:hover {
        color: #f5f5f5;
        background: rgba(49, 175, 213, 0.7);
        border-color: transparent;
    }

    .tm-nav-item:hover {
        background-color: grey;
    }

}
