$Font-Style: Roboto, Ubuntu, Cantarell, Helvetica ,sans-serif;
$Font-Size: 15px;
$BackGColor: white;
$TextColor: black;
$BackGImg: url("/Homework EPAM/FLX_homework_3/homework/img/header_background_v1.jpg");
$HeaderColor: #ede6e3;
$NavBorderColor: #607e8c;
$TopButtonColor: #00adad;
$TextForButtonColor: #edf9f9;
$Search: #becad0;
$PlaceHolderColor: black;
$ArtBG: #f0f0f0;
$PostDes: red;
$ArtBorderColor: #5f7e8c;
$h3Color: #0098a8;