$Font-Style: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$Font-Size: 18px;
$BackGColor: #efefef;
$TextColor: #b1a19f;
$BackGImg: url("/Homework EPAM/FLX_homework_3/homework/img/header_background_v2.jpg");
$HeaderColor: #ff5270;
$NavBorderColor: white;
$TopButtonColor: #0000ad;
$TextForButtonColor: #dcebfa;
$Search: #e0e5e6;
$PlaceHolderColor: #939393;
$ArtBG: white;
$PostDes: #cec1c1;
$ArtBorderColor: #cec1c1;
$h3Color: #5f9ec2;